body {
    background-image: url('/img/uni.jpg'); /* Path to your background image */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.dash-table-container .dash-spreadsheet {
    background: transparent !important;
}
